<div class="card my-5 p-1"  [ngClass]="getCssClass()" style="width: 18rem;">

  <!-- <ng-content></ng-content>

  question:
<ng-content select="[question]"></ng-content> -->
    
<div class="card-body" #cardbody>

  <!-- <ng-content select="[.card-title]"></ng-content> -->
    <!-- <h5 class="card-title"
      [ngStyle] = "getStyleForHeading()"
    > {{course.description}}</h5> -->
      <p class="card-text">{{course.longDescription}}</p>
      <div [ngSwitch] = "course.category">
        <p *ngSwitchCase ="'BEGINNER'"> BEGINNER </p>
        <p *ngSwitchCase ="'INTERMEDIATE'"> INTERMEDIATE </p>
        <p *ngSwitchCase ="'EXPERT'"> EXPERT </p>
        <p *ngSwitchDefault > ALL </p>

      </div>
      <button class="btn btn-primary" (click) = "onCourseView()">View Course</button>
    </div>
  </div>

  <!--
         [style.text-decoration]="'underline'"
         -->
